{% extends "base.html" %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
.photo{

}
.column{
  width: 100%;
  margin: 0 auto;
}
.col{
  width: 60%;
  min-height: 10vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5%;
  background: #ebeeef;
}
.bt{
align: right;
}
</style>
{% for item in products %}
<br>
<div class="column">
    <div class="col">
        <div class="photo"><img src={{item.img}}></div>
        {{item.about}}
        {{item.name}}, цена - {{item.cost}} руб.
        <a href={{item.add_to_basket_id}} class="btn btn-success">Добавить в козину</a><br>
</div>
</div>
{% endfor %}
{% endblock %}