{% extends "base.html" %}
{% block content %}
<p>><img src={{user.img}}></p>
<p>{{user.name}}</p>
<p>
    {% if user.telephone %}
        <p>Телефон - {{user.telephone}}</p>
    {% else %}
        <p>Телефон не указан</p>
    {% endif%}
</p>
<p>Электронная почта - {{user.email}}</p>
<p>Вы с нами с {{user.created_date}}</p>
<p>
    {% if user.city %}
        <p>Город - {{user.city}}</p>
    {% else %}
        <p>Город не указан</p>
    {% endif%}
</p>
<a href='/profile_update'><button>Изменить данные</button></a>
{% endblock %}